@font-face {
  font-family: 'Helvetica UltraLight' ;
  src: url(HelveticaNeue-UltraLight.otf) format('opentype');
}

@font-face {
  font-family: 'Helvetica Condensed Regular';
  src: url(Helvetica\ Condensed\ Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Ligth';
  src: url(Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(Roboto-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue-ligth: #29abe2;
  --dark-blue: #012d51;
  --gray: #808080;

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/*=== HOME ======================================*/
header {
  margin-top: 0;
}

a,
ul {
  font-family: 'Roboto Regular';
  font-size: 1.6rem;
  margin-top: 3.5rem;
  margin-left: 13rem;
  color: #ffff;
  text-decoration: none;
  transition: 0.3s;
  list-style: none;
  display: block;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -27rem;
  
}

main {
  min-width: 337px;
  max-width: 780px;
  margin: auto;
  height:57.1rem;
  background-image: url(./assets/index-image-mobile\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-list {
  position: absolute;
  width: 22rem;
  height: 38rem;
  background: var(--blue-ligth);
  top:-1;
  margin-left: 17rem;
  
  transform: translateX(-266%);
  transition: transform .3s ease-in;
  
}

.nav-list.active{
  transform: translateX(-100%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem); /*transação li*/
  }
  to {
    opacity: 1;
    transform: translateX(0); /*transação li*/
  }
}

.mobile-menu {
  z-index: 100;
  padding-top: 1rem;
  margin-left: 1rem;
  
  cursor: pointer;
}

.content {
  margin: auto;
  font-family: 'Helvetica UltraLight';
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.content h1 {
  padding-top: 4rem;
  padding-left: 3rem;
  font-weight: 200;
  font-size: 6rem;
}

.content p {
  padding-top: rem;
  padding-left: 3rem;
  font-weight: 200;
  font-size: 2.5rem;
}

.logo{
  
}

.circle-nav {
  display: none;
}

section#registration {
  min-width: 337px;
  max-width: 780px;
  top: 0;
  height:52.1rem;
  background-color: var(--blue-ligth);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

#registration h2 {
  font-family: 'Helvetica UltraLight';
  font-size: 3.7rem;
  line-height: 4.5rem;
  padding-top: 2rem;
  margin-bottom: 3.5rem;
  color: #ffff;
}

button {
  background: var(--dark-blue);
  font-family: 'Helvetica UltraLight';
  font-weight: 200;
  font-size: 3.7rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  color: var(--blue-ligth);

  padding: 1.6rem 3.2rem;
  margin-top: 3rem;
}

button:hover {
  background: var(--blue-ligth);
  color: var(--dark-blue);
  transition: 0.2s;
  cursor: pointer;
}

/*=== FORM-REGISTRATION ======================================*/
.input-box {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-family: 'Roboto Regular';
  font-style: regular;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #fff;

}

.input-registration {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;

  font-family: 'Helvetica Condensed Regular';
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;

  width: 25rem;
  margin-bottom: 1.5rem;
}

.input-registration:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 10px var(--blue-ligth) inset;
  -webkit-text-fill-color: #fff !important;
}

.input-registration,
.label-input {
  display: flex;
  align-items: flex-start;
  gap: 1px;

  position: relative;
}

/*=== TABLE ======================================*/
section#registration-list {
  min-width: 337px;
  max-width: 780px;
  display: block;
  align-items: center;
  margin: auto;
  top: 0;
  height:30rem;
}

#registration-list h2 {
  font-family: 'Helvetica UltraLight';
  font-size: 3.7rem;
  line-height: 4.5rem;
  color: var(--blue-ligth);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  padding-top: 2.5rem;
}

table {
  max-width: 929px;
  display: block;
  align-content: center;
  border-collapse: collapse;
  margin: auto;
  }

table, th, td {
  border: 1px solid var(--blue-ligth);
}

table {
  border: none;
}

th {
  font-family: 'Roboto Regular';
  color: var(--dark-blue);
}

td {
  font-family: 'Helvetica Condensed Regular';
  color: var(--gray);
}

.body-table .line-table:nth-child(1) {
  border-left:none
}

.body-table .line-table td:nth-child(1) {
  width: 10%;
  
}
.body-table .line-table td:nth-child(2) {
  width: 25%;
}
.body-table .line-table td:nth-child(3) {
  width: 33%;
}
.body-table .line-table td:nth-child(4) {
  width: 15%;
}

.body-table .line-table td:nth-child(5) {
  width: 27%;
}

/*=== FOOTER ======================================*/

footer {
  min-width: 337px;
  max-width: 780px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:26rem;
  
  background-image: url(./assets/rodape-mobile.jpg);
  background-position: center;
  background-size: cover;
}

footer p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 300;

  color: var(--gray);
  
  display: flex;
  justify-content: center;
  
  padding-bottom: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

@media (min-width: 1024px) {

  main {
    margin: 0;
    height:67.8rem;
    background-image: url(./assets/index-image.jpg);
    background-size: cover;
  }
  ul {
    margin: 0;
  }

  nav {
    height: 1;
    margin-left: 27rem;
    margin-bottom: 13rem;
  }

  .nav-list { 
    position: relative;
    width: 32rem;
    height: 48rem;
    background: var(--blue-ligth);
    
    border: 0;
    
    transform: translateX(100%);
  }

  .nav-list.active{
    transform: translateX(-250%);
  }

  .content{
    padding-left: 32rem;
  }
  .content p {
    padding-left: 14.5rem;
  }


  .circle-nav {
    display: none;
  }
  /*=== REGISTRATION ======================================*/

  section#registration {
    min-width: 781px;
  }

  #registration h2 {
    padding: 0;
  }

  /*=== TABLE ======================================*/
  section#registration-list {
    min-width: 781px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
  }

  #registration-list h2 {
    margin-top: 21rem;
  }

  .content {
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 21rem;
  }

  /*=== FOOTER ======================================*/
  .description {
    padding: 0;
  }

  footer {
    background-image: url(./assets/rodape-desktop.jpg);
    background-size: contain;
  }
} 

@media (min-width: 781px){
  header {
    margin-top: 0;
  }
  
  a,
  ul {
    font-family: 'Roboto Regular';
    font-size: 1.6rem;
    margin-top: 3.5rem;
    margin-left: 13rem;
    color: #ffff;
    text-decoration: none;
    transition: 0.3s;
    list-style: none;
    display: block;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  main {
    min-width: 1024px;
    max-width: 100%;
    margin: auto;
    height:57.1rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Regular';
  }
  
  
  .nav-list {
    position: relative;
    display: flex;
    
  }
  
  .nav-list.active{
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  .content {
    margin: auto;
    font-family: 'Helvetica UltraLight';
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  .content h1 {
    padding-top: 4rem;
    padding-left: 3rem;
    font-weight: 200;
    font-size: 6rem;
  }
  
  .content p {
    padding-top: rem;
    padding-left: 3rem;
    font-weight: 200;
    font-size: 2.5rem;
  }
  
  
  .circle-nav {
    display:block; 
  }
  
  section#registration {
    min-width: 1024px;
    max-width: 100%;
  }
  
  #registration h2 {
    font-size: 5.3rem;
    line-height: 4.5rem;
  }
  
  button {
    background: var(--dark-blue);
    font-family: 'Helvetica UltraLight';
    font-weight: 200;
    font-size: 3.7rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
  
    color: var(--blue-ligth);
  
    padding: 1.6rem 3.2rem;
    margin-top: 3rem;
  }
  
  button:hover {
    background: var(--blue-ligth);
    color: var(--dark-blue);
    transition: 0.2s;
    cursor: pointer;
  }
  
  /*=== FORM-REGISTRATION ======================================*/
  .input-box {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  label {
    font-family: 'Roboto Regular';
    font-style: regular;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #fff;
  
  }
  
  .input-registration {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
  
    font-family: 'Helvetica Condensed Regular';
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
  
    width: 25rem;
    margin-bottom: 1.5rem;
  }
  
  .input-registration:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 10px var(--blue-ligth) inset;
    -webkit-text-fill-color: #fff !important;
  }
  
  .input-registration,
  .label-input {
    display: flex;
    align-items: flex-start;
    gap: 1px;
  
    position: relative;
  }
  
  /*=== TABLE ======================================*/
  section#registration-list {
    min-width: 1024px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    height:40rem;
  }
  
  #registration-list h2 {
   margin: 0 auto;
  }

  table {
    width: 50rem;
    margin-bottom: 5rem;
  }
  
  table, th, td {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin: auto;
    text-align: center;
  }

  /*=== FOOTER ======================================*/
  
  footer {
    min-width: 1024px;
    max-width: 100%;
    top: 0;
    background-image: url(./assets/rodape-desktop.jpg);
  }
  
}